.icons {
  text-align: center;
  position: relative;
}

.email-icon {
  svg {
	color: #1A77D2;
	opacity: 0;
	transition: 0.5s;
  }

  &:hover svg {
	opacity: 1;
  }

  &:hover {
	color: #1A77D2;
  }
}

a {
  opacity: 1;
  text-decoration: none;
  color: currentColor;
  transition: 0.25s;

  &:visited {
	color: inherit;
  }

  &:active {
	color: inherit;
  }
}

.tech_tag_container {
  margin: 0.2em 0 0.2em 0;
  font-family: inherit;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  padding: 0.2rem;
  width: 100%;
}

.tag {
  margin: 0.1em;
  padding: 4px;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
  background-color: #1A77D2;
  border-radius: 5px;
  border-width: 1px solid #1A77D2;
  max-height: 2em;
  transition: ease .25s;
}

.tag_outline {
  margin: 0.1em;
  padding: 4px;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #1A77D2;
  background-color: #fff;
  border: 1px solid #1A77D2;
  border-radius: 5px;
  border-width: 1px solid #1A77D2;
  max-height: 2em;
}

.center {
  margin: auto;
  text-align: center;
}

.MuiDataGrid-cellContent {
  color: #44546A;
}
